* {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: block;
}

.text-white {
    color: white;
}

.head {
    /* background-color: rgb(25 194 250); */
    background-image: url('../images/desktop/image-header.jpg');
    /* height: 13rem; */
    /* width: 90%; */
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.head h1 {
    margin-top: 7rem;
}

.nav-item {
    display: flex;
    margin-right: 4rem;
    font-weight: 600;
}

.nav-item li {
    margin-left: 1.3rem;
}

.navbar {
    justify-content: space-between;
    display: flex;
}

.heading-first {
    font-size: xx-large;
    color: white;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
}

.first-img {
    background-size: cover;
    width: 100%;
}

.second-head {
    display: flex;
    justify-content: space-between;
    height: 26.5rem;
}

.second-left {
    margin-left: 10px;
    padding: 10%;
    width: 38%;
}

.second-left h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: x-large;
}

.second-right img {
    background-size: cover;
    width: 100%;
}

.third-left {
    background-image: url('../images/desktop/image-graphic-design.jpg');
    width: 49.3%;
}

.third-left h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: x-large;
    margin-top: 18rem;
}

.third-left p {
    margin-left: 5rem;
    margin-right: 5rem;
}

.third-right {
    background-image: url('../images/desktop/image-photography.jpg');
    width: 50%;
}

.third-right h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: x-large;
    margin-top: 18rem;
}

.third-right p {
    margin-left: 5rem;
    margin-right: 5rem;
}

.fourth-head {
    display: block;
    /* justify-content: space-between; */
    /* height: 26.5rem; */
}

.test-forth {
    display: flex;
    justify-content: space-between;
}

.fourth-head h1 {
    font-size: x-large;
    margin-left: 42%;
    margin-top: 4rem;
}

.fourth-common {
    margin: 2rem;
    text-align: center;
    padding: 2rem;
}

.fourth-common img {
    border-radius: 5rem;
    margin-bottom: 1.2rem;
}

.fourth-common h3 {
    margin-top: 1.3rem;
}

.fifth-head {
    display: flex;
    justify-content: space-between;
}

.fifth-common img {
    height: 20rem;
}

.footer {
    margin-top: 0px;
    background-color: #8ad0f0;
}

.footer ul {
    display: flex;
    justify-content: space-between;
    margin-left: 23%;
    margin-right: 23%;
}

.footer h3 {
    /* margin-top: 2rem; */
    padding-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 44%;
}

.lgicon {
    text-align: center;
}

.fa {
    padding: 20px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 50px;
}

.fa-facebook {
    /* background: #3B5998; */
    color: #3B5998;
}

.fa-twitter {
    /* background: #55ACEE; */
    color: #55ACEE;
}

.fa-pinterest {
    /* background: #cb2027; */
    color: #cb2027;
}

.fa-linkedin {
    /* background: #007bb5; */
    color: #007bb5;
}

.fa-instagram {
    /* background: #125688; */
    color: #125688;
}